In [2]:
import streamlit as st
import numpy as np
import pandas as pd

In [4]:
np.random.randn(20, 3)

array([[-0.29256847, -0.8727761 , -0.95510042],
       [ 0.59089221,  0.58612054, -1.17136087],
       [-0.62316332,  0.38273031,  0.32657732],
       [-0.82911075, -0.585242  , -0.18611027],
       [-0.45728714,  0.79954049,  1.12628207],
       [ 1.18073519,  0.78480582, -1.08912678],
       [-1.48297078,  1.25957779, -0.76722548],
       [ 1.90063505, -1.00120043, -1.30100225],
       [-1.69873164, -0.7261407 , -0.08212627],
       [-0.23565708,  0.73320714,  0.4250302 ],
       [-0.97601611, -1.47710782, -0.39652212],
       [ 0.20519113, -0.28777876,  2.00637867],
       [-0.4965981 , -1.3378854 , -0.49651025],
       [ 0.87577045, -1.153859  ,  0.09309948],
       [ 0.63563803,  0.27671067, -0.73147134],
       [ 0.560583  ,  0.35838231, -1.53570144],
       [ 1.2462921 , -0.12235433, -1.10820761],
       [ 0.82456329,  0.76399191, -1.7428292 ],
       [-0.52076739,  0.35255461, -1.20724203],
       [ 0.66321193, -0.17545139, -0.5918691 ]])

In [6]:
pd.DataFrame(
     np.random.randn(5, 3),
     columns=['a', 'b', 'c'])

          a         b         c
0 -0.465272 -0.259928 -0.717242
1 -1.045187  0.914303 -0.342057
2  0.353512 -0.588073 -2.004886
3 -0.877572  0.697426  2.046565
4 -0.685570  2.148917 -1.222005

In [16]:
map_data = pd.DataFrame(
    np.random.randn(1000, 2) / [100, 350] + [47.76, -122.4],
    columns=['lat', 'lon'])
map_data

           lat         lon
0    47.771202 -122.397261
1    47.755269 -122.400746
2    47.754853 -122.398509
3    47.759723 -122.399250
4    47.755149 -122.398845
..         ...         ...
995  47.752170 -122.401576
996  47.746351 -122.394300
997  47.772802 -122.401508
998  47.746768 -122.399253
999  47.768969 -122.406111

[1000 rows x 2 columns]

In [20]:
arr = np.random.normal(1, 1, size=10)
arr

array([-0.8514016 ,  2.8925854 ,  2.40958285,  0.90569594,  1.34683578,
        0.9559334 ,  1.7559009 ,  1.69058786,  0.65563398,  1.39659474])